@import '../../Utils/Styles/variables.scss';

.rounded-input {
    appearance: none;
    background-color: transparent;
    padding: .8rem 1.6rem;
    border-radius: 3rem;
    border: .2rem solid $primaryColor;
    flex: 1;
}