@import '../../Utils/Styles/variables.scss';

.searchable-dropdown {
    width: calc(100% - 2rem);
    position: relative;

    input[type="text"], input[type="number"] {
        appearance: none;
        border: 1px solid $greyColor;
        border-radius: .7rem;
        padding: 1rem;
        width: calc(100% - 2rem);
        background-color: transparent;
    }

    svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }

    ul {
        background-color: $white;
        color: $greyColor;
        display: flex;
        flex-direction: column;
        border-radius: .4rem;

        button {
            text-transform: capitalize;
            padding: .7rem 1rem;
            appearance: none;
            border: 0;
            background-color: transparent;
            text-align: start;
            transition: all .1s ease;

            &:hover {
                background-color: $highlightedBlue;
                color: $white;
            }
            
            &.create-button {
                color: $white;
                background-color: $highlightedBlue;
            }
        }

        &.hide {
            display: none;
        }
    }
}