//* font sizes

$fontSmall: 12pt;
$fontMedium: 14pt;
$fontLarge: 16pt;


//* Font Colors

$primaryColor: #525298;
$white: #FFFFFF;
$mainRedColor: #D32424;
$textShaded: #666666;
$greyColor: #404040;
$highlightedBlue: #276AEC;