//* font sizes

$fontSmall: 12pt;
$fontMedium: 14pt;
$fontLarge: 16pt;


//* Font Colors

$primaryColor: #525298;
$white: #FFFFFF;
$mainRedColor: #D32424;
$textShaded: #666666;
$greyColor: #404040;
$highlightedBlue: #276AEC;
$testimonialBackground: #FFC66C;
$gold: #FE7B01;
$faqBackground: #C5D86D;
$backgroundShadeGray: #F9F9F9;
$scrollBar: #babac0;


//* Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-tablets: 1024px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-small-tablets: 768px;
$layout-breakpoint-xsmall: 480px;