.featured-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    margin-top: 7rem;

    .one {
        background-image: url('../../Assets/Images/featuredOne.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3rem;
        grid-row: span 2 / auto;
    }
    
    .two {
        background-image: url('../../Assets/Images/featuredTwo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3rem;
        grid-column: span 2 / auto;
    }
    
    .three {
        grid-column: span 2 / auto;
        background-image: url('../../Assets/Images/featuredThree.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3rem;
    }
}
