@import '../../Utils/Styles/variables.scss';

.filter-container {
    padding: 1.4rem 2rem;
    border-radius: 2rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);

    @media (max-width: $layout-breakpoint-small-tablets) {
      flex-direction: column;
    }

    .text-bold {
      font-weight: 900;
      color: $greyColor;
      padding: 0 2rem;

      @media (max-width: $layout-breakpoint-small-tablets) {
        margin: 1rem 0;
      }
    }
}