@import url('../../Utils/Styles/typo.scss');
@import url('../../Utils/Styles/variables.scss');

.main-wrapper {
    background-color: #ffffff;

    .home-image {
        height: 100%;
        max-height: 55vh;
        border-radius: 3.125rem;
    }
}