@import '../../Utils/Styles/variables.scss';

.main-wrapper {

    .home-image {
        background-image: url('https://www.business.hsbc.lk/-/media/library/markets-selective/sri-lanka/images/srilanka-800x495.jpg?w=1400&usecustomfunctions=1&centercrop=1&hash=FDC81A069E22100362FF5A4BEC6816A7C9365A68');
    }

    .home-image-scrolling {
        background-image: unset;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, 0); 

        .filter-container {
            display: none;
        }
    }


    .home-image-other {
        background-image: url('https://images2.alphacoders.com/546/thumb-1920-546678.jpg');

    }
    
    .testimonial-wrapper {
        background-color: $testimonialBackground;
    }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    color: $primaryColor;
}
