// @import url('../../Utils/Styles/typo');
@import '../../Utils/Styles/variables.scss';

.main-wrapper {
    background-color: #ffffff;
    height: 300vh;
    width: 100vw;
    overflow-x: hidden;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    .home-image {
        width: 98%;
        margin: .4rem auto 0 auto;
        height: 65vh;
        max-height: 65vh;
        border-radius: 1.6rem;
        background-image: url('../../Assets/Images/home-banner.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .flex-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 1rem 2.25rem 0rem 2.25rem;
          
          .right-top {
              display: flex;
              padding: 0rem 5rem 0rem 0rem;
              align-items: center;
          }
        }

        .icon {
            width: 3rem;
            height: 3rem;
            margin-left: 1.3rem;
        }
    }
}