@import '../../Utils/Styles/variables.scss';

.main-wrapper {
    background-color: $white;
    width: 100%;
    overflow-x: hidden;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    .wrapper, .transition-height{
        width: 98%;
        margin: .4rem auto 0 auto;
        border-radius: 1.6rem;
        position: relative;
    }

    .container {
        margin-top: 7rem;
        position: relative;
        
        @media (max-width: $layout-breakpoint-tablets) {
            margin-top: 4rem;
        }

        @media (max-width: $layout-breakpoint-small) {
            margin-top: 3rem;
            padding: 0 1rem;
        }
    }
    
    .home-image {
        max-height: 65vh;
        height: 65vh;
        background-image: url('../../Assets/Images/home-banner.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-image-scrolling {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
        background-image: unset;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5); 

        .filter-container {
            display: none;
        }
    }

    .wrapper {
        max-height: 80vh;
        height: 80vh;
        margin-top: 16rem;
        
        @media (max-width: $layout-breakpoint-tablets) {
            max-height: 50vh;
        }
        
        @media (min-width: $layout-breakpoint-medium) {
            max-height: 50vh;
        }

        @media (max-width: $layout-breakpoint-xsmall) {
            margin-top: 5rem;
        }
    }
    
    .testimonial-wrapper {
        background-color: $testimonialBackground;
    }
    
    .faq-wrapper {
        padding: 2rem 0;
        height: auto;
        max-height: unset;
        margin-top: 8rem;
        background-color: $faqBackground;
        
        @media (min-width: $layout-breakpoint-xsmall) {
            margin-top: 12rem;
        }

        @media (min-width: $layout-breakpoint-small-tablets) {
            margin-top: 7rem;
        }

        @media (min-width: $layout-breakpoint-small) {
            margin-top: 6rem;
        }

        @media (min-width: $layout-breakpoint-tablets) {
            margin-top: 6rem;
        }

        @media (min-width: $layout-breakpoint-medium) {
            margin-top: 5rem;
        }

        @media (max-width: $layout-breakpoint-xsmall) {
            margin-top: 3rem;
        }
    }

    .footer {
        height: auto;
        max-height: unset;
        margin-top: 2rem;
        background-color: $primaryColor;
        width: 98%;
        margin-bottom: 1rem;
    }
}

.column-centered-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.highlighted-title {
    font-size: 2rem;
    margin-bottom: 1.32rem;
    font-weight: 900;
    color: $greyColor;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 3rem;
    }

    @media (max-width: $layout-breakpoint-xsmall) {
        max-width: 80vw;
        text-align: center;
    }
}

.linebreaked-description {
    max-width: 25vw;
    text-align: center;
    margin-bottom: 1.65rem;
    
    @media (min-width: $layout-breakpoint-medium) {
        max-width: 40vw;
        font-size: 1.7rem;
    }
    
    @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 1.5rem;
        max-width: 80vw;
    }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    color: $primaryColor;
}

.transition-height{
    transition: all .6s ease-in-out;

    .flex-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 1rem;

        .menu-icon {
            appearance: none;
            border: 0;
            background-color: transparent;
            margin-right: 1rem;
        }
        
        .right-top {
            display: flex;
            align-items: center;
            margin-right: 2rem;
        }
      }

      .icon {
          width: 3rem;
          height: 3rem;
          margin-left: 2rem;
      }
}