@import '../../Utils/Styles/variables.scss';


.card-flex {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    color: $greyColor;
    box-shadow: 0 8px 8px -4px rgba(102, 102, 102, .23);
    margin-bottom: 1rem;
    background-color: $white;
    text-decoration: none;
    overflow: hidden;
    min-height: 15rem;

    .image {
        height: 15rem;
        flex: 1;
        width: 10rem;
        background-size: cover;
    }

    button {
        border: 0;
        background-color: transparent;
        appearance: none;
    }

    .content {
        padding: 2rem 1rem;
        text-align: left;
        flex: 3;

        .rating-fav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rating {
                display: flex;
                align-items: center;
                font-size: 1.3rem;

                span {
                    margin-left: .4rem;
                    margin-top: .3rem;
                }
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .title {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
        
        .address {
            margin-bottom: 1rem;
        }

        .services{
            display: flex;
            flex-wrap: wrap;
            span {
                margin-right: .4rem;
                margin-left: .4rem;
            }
        }

        .contact {
            margin-top: 1rem;

            a {
                text-decoration: none;
                color: unset;
            }
        }
    }

}