@import './utils/styles/typo.scss';
@import './utils/styles/variables.scss';

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: local('Gilroy'), url(assets/fonts/Gilroy-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  src: local('Gilroy'), url(assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
}

* {
  font-family: Gilroy;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}