// @import './Utils/Styles/typos.scss';
@import './Utils/Styles/variables.scss';
@import './Utils/Styles/reset.css';

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: local('Gilroy'), url(assets/fonts/Gilroy-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  src: local('Gilroy'), url(assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
}

* {
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $layout-breakpoint-small-tablets) {
    max-width: 640px;
  }

  @media (min-width: $layout-breakpoint-small) {
    max-width: 768px;
  }

  @media (min-width: $layout-breakpoint-tablets) {
    max-width: 1024px;
  }

  @media (min-width: $layout-breakpoint-medium) {
    max-width: 1280px;
  }

  @media (min-width: $layout-breakpoint-large) {
    max-width: 1536px;
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar, div::-webkit-scrollbar {
  background-color: $white;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  background-color: $white;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: $scrollBar;
  border-radius: 16px;
  border: 4px solid $white;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button, div::-webkit-scrollbar-button {
  display:none;
}